<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringaschool.outingapi2">
<!--Added config change property in saved activity to notify us when there is a change in portrait or landscape mode-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".CreateNewAccount">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.CreateNewAccount"
                android:configChanges="orientation"/></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EscapeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.MainActivity" />
        </activity>
        <activity android:name=".EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.EventActivity" />
        </activity>
        <activity android:name=".SavedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.SavedActivity"
                android:configChanges="orientation"/>
        </activity>
        <activity android:name=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.SearchActivity" />
        </activity>
        <activity android:name=".ApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.ApiActivity" />
        </activity>
        <activity android:name=".EventInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.EventInfoActivity" />
        </activity>
        <activity android:name=".PastEventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.PastEventActivity" />
        </activity>
        <provider
            android:authorities="com.moringaschool.outingapi2.FileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"></meta-data>

        </provider>
    </application>

</manifest>